
<h1>Listado de proveedores</h1>
<div class="addProv">
    <a href="" class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir nuevo proveedor</a>
</div>

<table class="table table-bordered table-striped tabla">
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Correo electrónico</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{proveedor.nombre}}</td>
      <td><a href="mailto:{{proveedor.email}}">{{proveedor.email}}</a></td>
      <td>{{proveedor.telefono}}</td>
    </tr>
  </tbody>
</table>